body {
  background-color: #333;
  color: #fff;
  font-family: 'Roboto', 'Open Sans', 'Lucida Grande', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

button {
  background-color: #4285F4;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
  color: white;
  font-size: 0.8em;
  height: 2.75em;
  margin: 0 5px 20px 5px;
  padding: 0.5em 0.7em 0.5em 0.7em;
  width: 8em;
}

#title{
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 40px;
}

#inputs{
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 80px;
}

.input {
  display: inline-block;
}

#app {
  text-align: center;
}

#buttons {
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 140px;
}

#videos {
  font-size: 0;
  pointer-events: none;
  position: absolute;
  transition: all 1s;
  width: 100%;
  height: 100%;
  display: block;
}

#remote-video{
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  transform: scale(-1, 1);
  transition: opacity 1s;
  width: 100%;
}

#local-video{
  z-index: 2;
  border: 1px solid gray;
  bottom: 20px;
  right: 20px;
  max-height: 17%;
  max-width: 17%;
  position: absolute;
  transition: opacity 1s;
}
