name: ci
on:
  push:
    branches-ignore:
      - "master"
    tags-ignore:
      - "*"
jobs:
  ci:
    name: ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod
          cache: true
          cache-dependency-path: ./go.sum
      - uses: dominikh/staticcheck-action@v1.3.1
        with:
          version: "2023.1.6"
          install-go: false
      - run: go version
      - run: go fmt .
      - run: go build -v .
