name: Go Build & Format
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: 1.15
        id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
    - name: Build
      run: go build -v .
      # - name: Install golangci-lint
      # - run: curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s -- -b $(go env GOPATH)/bin v1.21.0
      # - name: Run golangci-lint
      #   run: $(go env GOPATH)/bin/golangci-lint run ./...
    - name: Format
      run: go fmt .
